[2015-03-19 19:50] bcremer opened #1 "Include Search Engine"
We should evaluate javascript based search engines.
[lunr.js](http://lunrjs.com/) looks most promising.

During the page generation a json based index file is build, that is later consumed by the client.

- http://10consulting.com/2013/03/06/jekyll-and-lunr-js-static-websites-with-powerful-full-text-search-using-javascript/
- https://github.com/jbouzekri/SculpinSearchBundle
- http://www.tipue.com/

[2015-04-01 16:38] bcremer commented on #1
Added first POC in commit https://github.com/shopware/devdocs/commit/c67b4c73fb4d0787ea43bda6f57f766d80095dfa

It's not yet linked in the layout template but can be reached at
https://devdocs.shopware.com/search/.

[2015-04-17 08:09] bcremer commented on #1
@arnoldstoba did awesome work and included the seach into the layout. See https://github.com/shopware/devdocs/pull/31

[2015-04-17 08:09] #1 closed

[2015-07-06 10:00] numediaweb opened #87 "The plugin quick start doesn't work"
I followed the steps on [the plugin quickstart](https://github.com/shopware/devdocs/blob/master/source/developers-guide/plugin-quick-start/index.md) but I couldn't see the results displayed on the front end.

I switched back and forth the Bar theme and Responsive theme but none of them was able to show the  Slogan widget in the frontend.

I even deleted my plugin and used the one [you provided ](h

[2015-07-06 11:40] tiagojsag commented on #87
Hi, @numediaweb

I just tested the example plugin package we provide (the one you linked) and it works as intended.

Please be sure to clear the caches (backend => "Configuration" => "Cache/performance" =>  "Cache") after installing the plugin. Also, make sure the plugin itself is both installed and active. Should you have additional problems, please check our forum for support.

Closing

[2015-07-06 11:40] #87 closed

[2015-07-06 12:13] numediaweb commented on #87
Thanks @tiagojsag  I already cleared the cache and even deleted the cache folder and cleared browser cache. However I couldn't see the slogan text on the frontend.

Is there any menu or setting that I should activate? i don't have ionCube extension on my localhost; is this a problem?

[2015-07-06 12:19] tiagojsag commented on #87
The ioncube extension is only needed for plugins downloaded from the store. This is not the case.

[2015-07-06 12:29] numediaweb commented on #87
I think there's something wrong with Shopware system; it must work on first clean install or at least give a warning/log if a problem happens.

I have to develop a small plugin for a client but seems complicated without debugging why the template is not loaded and why it doesn't modify the `responsive` one.

[2015-07-06 12:30] numediaweb commented on #87
Also this is not a good way to encourage third parties to develop plugins for Shopware if the provided example doesn't work on a clean install!

[2015-07-06 12:41] tiagojsag commented on #87
Hello again,

Like I mentioned before, I tested the scenario you described, and I had no problems reproducing the behaviour described in the documentation. Also, AFAIK, there are no additional reports of this issue affecting anyone else, so a bug in Shopware itself seems unlikely at this point.

You mentioned you are using Windows, which is not officially supported: https://developers.shopware.com

[2015-07-06 13:36] numediaweb commented on #87
Thanks @tiagojsag I opened [a ticket](http://forum.shopware.com/general-f72/the-plugin-quick-start-doesn-t-work-t29090.html) in the forums. I'am testing now on a live server running Linux; If it doesn't work on first install then I guess, Shopware is not a serious software.

[2015-07-06 13:45] numediaweb commented on #87
After testing on the remote server, running Linux, the plugin works! First time to face such a limitation on a CMS/Shopsystem.

[2015-08-21 14:00] numediaweb opened #110 "Any documentation on how to create plugins/widgets for v5?"
The lack of English documentation is one of the major obstacles non german developers face when dealing with Shopware developement.

I was searching for documentation on how to create a widget, integrate it on my plugin and allow admins to include it on any product pages.. However i couldn't find any track except  this non working example:
http://community.shopware.com/Eigene-Einkaufswelten-Elemen

[2015-08-21 14:48] tiagojsag commented on #110
Hi, @numediaweb

We understand that the lack of English docs can be frustrating for our international developers. That was one of the reasons why we decided to, from Shopware 5, to document developer content in English. We regularly add new content to this project, all of which is written in English, for the above mentioned reasons.

With that in mind, we cannot immediately migrate all documentati

[2015-08-21 14:48] #110 closed

[2015-08-21 15:16] numediaweb commented on #110
@tiagojsag Thanks for your response. Maybe the Media Widget works but I tested the Vimeo Widget Example Plugin and it resulted in an error:
[code]

[2015-08-21 17:56] tiagojsag commented on #110
Both plugins illustrate the same principle, so you can use the MediaWidget plugin as a base for your implementation or, as an alternative, debug and fix the VimeoWidget plugin. In case you opt for the later, please submit a PR with the fixed version, so it becomes available for future reference.

Thanks

[2015-08-22 09:03] dnoegel commented on #110
Please do not cross post on stack overflow, github and the forum and provide any info (errors) you have in the forum thread, so we will be able to help you there.

Thanks in advance!

Daniel

[2015-09-25 10:19] kirilgicevski opened #139 "java sdk not installed by default"
Hello guys. Great work !!! I just had one small issue. whenever I've runned  "ant build-unit" i had the problem that tools.jar was not there. I have solved this with just installing  Java SDK (sudo apt-get install openjdk-7-jdk). I guess it should have been there at first place.

[2015-09-26 07:26] bcremer commented on #139
Thank you @kirilgicevski, we will add this as a note.
Instead of a full JDK the package `openjdk-7-jre-headless` should be enough. It has the most minimal dependencies to get ant running.

[2015-12-03 10:41] sarathiscookie commented on #87
I have configured shopware 5.1.1 in windows 7 and installed sample plugin shown in shopware doc. But it is not working. I have clear the cache.

[2015-12-03 10:43] sarathiscookie opened #195 "Plugin quick start not working"
I have configured shopware 5.1.1 in windows 7 and installed sample plugin shown in shopware doc. But it is not working. I have clear the cache.

[2015-12-03 10:45] tiagojsag commented on #195
Hi,

This is a duplicate of https://github.com/shopware/devdocs/issues/87

closing

[2015-12-03 10:45] #195 closed

[2015-12-05 10:46] aceneeraj opened #198 "How create or add product from plugin"
I am new in shopware , i am creating a plugin that is based on canvas greeting card designing and  i want to create product using my plugin , So how to achieve  this from plugin ,
Every things are going well in my plugin but i stacked here for the same.
So please share some piece of code or any  document that help me to achieve this task.
Thanks
Neeraj

[2015-12-05 11:09] tiagojsag commented on #198
Hi, @aceneeraj

From what I understand, you are having issues implementing your custom Shopware plugin. This github project covers only the Shopware documentation. If you have questions regarding Shopware itself or you need free support from the community, please use the forums: http://en.forum.shopware.com/

closing

[2015-12-05 11:09] #198 closed

[2015-12-05 11:10] dnoegel commented on #198
Hi Tiago was to fast, was about to write the same :)

Just try the forum, I will have a look later one :+1:

[2015-12-05 11:11] aceneeraj commented on #198
Ok i will post this problem there.
Thanks you so much for reply

[2015-12-14 09:50] hlb-schmidt opened #202 "wrong screenshot"
https://github.com/shopware/devdocs/blame/master/source/developers-guide/backend-components/basics/index.md#L565 image should most likely be a listing window, not a detail window.

[2015-12-14 10:02] bcremer commented on #202
Should be fixed with commit https://github.com/shopware/devdocs/commit/40b7cecd4953ce7e3f78108a6fbb15dd2ce6dc71

[2015-12-14 10:02] #202 closed

[2015-12-26 15:30] ededagic opened #207 "Sync Folder"
Is there any reason not using sync folders, which are created between host and virtual machine, instead of deploying changes with ftps and phpstorm ?

[2015-12-27 10:12] bcremer commented on #207
It's mostly because we experienced bad performance when using sync folders. You can work around this issue a bit by excluding cache directories etc. from syncing but for best performance we still use the sftp deploy workflow with phpstorm.

[2015-12-27 10:18] ededagic commented on #207
ok. Thnx. Meanwhile i pointed out, that using sftp solves another problem i used to have, which is the need for changing ownership and permissions on files. With SFTP there are two copies, my local and remote copy, with no need of changing any file ownership

[2016-01-03 17:56] #207 closed

[2016-04-29 13:39] alfredbez opened #264 "'Storefront extension' not working"
I downloaded [this plug-in](https://developers.shopware.com/developers-guide/example-plugin/) and tried to install it in my demo-shop.

I took a look at the server-logs, too:
[code]

I cannot enable the plugin: when I click on the green + symbol, the plugin wents from not-installed to deactivated list.

---
Shopware Version 5.1 (shopware/shopware@8647bdf)
My vagrant machine:
[code]
My host machine

[2016-04-29 13:45] alfredbez commented on #264
maybe helpful:

![bildschirmfoto vom 2016-04-29 15-25-50](https://cloud.githubusercontent.com/assets/1001186/14917847/4ca66edc-0e21-11e6-856e-359f7198206c.png)

[2016-04-29 14:02] alfredbez commented on #264
I had to click on the red x to activate the plugin

![image](https://cloud.githubusercontent.com/assets/1001186/14918343/b3da3870-0e23-11e6-9915-a12b9bd41a16.png)

[2016-04-29 14:02] #264 closed

[2016-05-03 10:55] daslicht opened #268 "Swag Controller"
Hi,
I just started with Shopware Dev.

I put the [SwagController] (https://developers.shopware.com/exampleplugins/SwagSloganOfTheDay.zip) example in /local/frontend ,activated it in the backend, but the following route returns nothing special :
[code]

[2016-05-03 11:02] Asabs commented on #268
Hi.
The link is dead.

[2016-05-03 11:10] daslicht commented on #268
fixed
source:
https://developers.shopware.com/developers-guide/plugin-quick-start/

[2016-05-03 11:22] Asabs commented on #268
The SwagSloganOfTheDay plugin does not register a custom controller.
If you want to register a custom controller look here: https://developers.shopware.com/developers-guide/controller/
For Learning Shopware I would recommend the Shopware 4 docs, they are more exhaustive and still quite relevant, but in german.

[2016-06-28 08:50] #268 closed

[2016-07-06 10:49] LarsFronius opened #314 "Elasticsearch version mismatch"
According to https://github.com/shopware/devdocs/blob/3d3a138829e390afc7ba88fd227629d21a07073a/source/sysadmins-guide/elasticsearch-setup/index.md
only 1.6 is officially supported.
However, according to https://github.com/shopware/shopware/blob/5.1/composer.json#L41 Shopware is running the 2.2 client library.
We successfully ran on 2.3.3 already.

Thus I wonder whether the documentation is just ou

[2016-07-07 11:16] bcremer commented on #314
As I read the version matrix here https://github.com/elastic/elasticsearch-php/tree/v2.2.0#version-matrix Elasticsearch Version 1.6 should be considered the minimum supported version, not the concretely required version.

[2016-07-13 06:55] bcremer commented on #314
Correction. Since we also depend on [ongr-io/ElasticsearchDSL](https://github.com/ongr-io/ElasticsearchDSL/tree/v2.0.2#elasticsearchdsl) we require Elasticsearch 2.0 or newer.

[2016-07-13 06:57] bcremer commented on #314
Fix with #319.

[2016-07-13 06:57] #314 closed

[2016-07-18 16:20] Haehnchen opened #325 "Add documentation on "How to access Plugin configuration""
Old plugins provides access to the Plugin-Configuration via `Shopware_Components_Plugin_Bootstrap::Config`. Please add documentation on how to access this in need Plugin System.

Problem solved in this way: https://github.com/Haehnchen/shopware-plugin-commerce-tools-exporter/blob/master/Config/ConfigFactory.php#L15

Target:
https://developers.shopware.com/developers-guide/plugin-system/

[2016-07-26 17:39] Haehnchen opened #330 "Add Documentation for basic configuration of Shopware PhpStorm Plugin"
There several _hidden_ features inside Shopware PhpStorm that needs so more documentation. Provide a Page describing some basic usages.

Issues:
- https://github.com/Haehnchen/idea-php-shopware-plugin/issues/40
- https://github.com/Haehnchen/idea-php-shopware-plugin/issues/18
- https://github.com/Haehnchen/idea-php-shopware-plugin/issues/33

Example
- https://confluence.jetbrains.com/display/PhpSt

[2016-09-22 11:47] mioduszewski opened #373 "Using _data-directory for Sprite-Icon-Listing"
I just saw you've introduced a list of all icons for backend in `devdocs/blob/master/source/designers-guide/backend-icons/index.html`. Great! 👍

However as a developer I do not want to touch design-related stuff. Would it be an option for you to introduce `_data`-directory as described [in Jekyll-documentation](https://jekyllrb.com/docs/datafiles/)?

If you're interested I could do this initially?

[2016-09-22 11:54] mioduszewski commented on #373
Nevermind. I just saw you're not using Jekyll at all ;-)

[2016-09-22 11:54] #373 closed

[2016-10-06 13:42] nik4152 opened #381 "Build custom plugin in Shopware 5.2.6"
Hi, how build plugin in shopware 5.2.6?
Build Backend plugin new clear window (page)?
I created plugin aded menu item and when click go to page plugin then show error "Not Found 404 app"

[2016-10-17 05:50] mitelg commented on #381
Hi @nik4152
have you already checked our articles here? https://developers.shopware.com/developers-guide/
at the bottom you find `Backend and ExtJS resources`. maybe this will help you

[2016-10-18 11:17] nik4152 commented on #381
Hi @mitelg  how in plugin extend theme template detail cre

[2016-10-18 11:28] nik4152 commented on #381
Hi @mitelg how in plugin extend template detail?

I subscribe event
[code]

add folder extend template plugin
`Shopware()->Template()->addTemplateDir($this->Path() . 'Views');
`

I do exactly the same structure as a the theme in engine\Shopware\Plugins\Local\Frontend\PluginDir\Views\frontend\detail\buy.tpl update the cache and compile, check the page and then nothing has changed. What am I doing w

[2016-10-18 11:40] mitelg commented on #381
hi @nik4152
at first you are writing about a backend plugin and now you want to extend the detail page of a product in the store front. I don't get what you really want :blush:
Beside this, I think this place is not the right one for asking things about developing plugins :wink:
Please open a new thread with your question and maybe example code in our forum https://forum.shopware.com/
There you wi

[2016-10-18 11:40] #381 closed

[2016-12-06 12:00] codekeller-official opened #447 "OneToMany associations don't work"
The last part covering "OneToMany" associations is not complete and therefor useless. It leaves out the detail window of variants and there is no example code anywhere to be found. Shopware itself never uses the "extend: 'Shopware.store.Association'" code that is given in the tutorial. All questions about this issue on the community board are unanswered. I can manage to display the data of a varia

[2016-12-11 14:10] lhwparis opened #458 "devdocs/source/developers-guide/risk-rules/index.md not working with 5.2.10 and attached zip error"
The guide to add a custom risk rule is not working for me with shopware 5.2.10
1. the attached file uses "Frontend" as folder but its declared as "Backend" in the bootstrap.php
2. if i change the folder and upload the plugin there is no rule added to the risk management so the tutorial and attached example are not woking for me

[2016-12-12 08:29] timomayer commented on #458
I don't think this is fixed at all since when I use the zip as is it is not working in shopware 5. 2.10 the rest rule is not appearing in the drop down.

[2016-12-12 08:37] lhwparis commented on #458
I don't think this is fixed at all since when I use the zip as is it is not working in shopware 5. 2.10 the rest rule is not appearing in the drop down.

[2016-12-22 22:45] lhwparis commented on #458
Does someone have an idea why it is not working?  Can not figure it out :( If I know the problem I am happy to send a pr.

[2016-12-23 08:25] mitelg commented on #458
hi @lhwparis
I just tested the plugin on a current Shopware version and had no problems. What is exactly your problem?

[2016-12-28 11:30] lhwparis commented on #458
Sorry my fault, tested it again and it works now dont know what was the problem when i tested it after you merged the PR.

[2016-12-28 11:30] #458 closed

[2016-12-29 09:02] OliverSkroblin commented on #447
Hi,
the backend components handles only the first level of association with all crud operations. The example only shows that it is possible to load big association on demand.
To working with a sub-association-window you have to handle the foreign key by yourself. In this case it means, before you create a new variant over the window or an row editing, you have to set the productId property with th

[2016-12-29 09:02] #447 closed

[2017-01-17 10:54] vintagesucks opened #483 "Atom feed for blog posts does not work"
https://developers.shopware.com/blog/atom.xml

[2017-01-17 11:38] bcremer commented on #483
Fixed with commit https://github.com/shopware/devdocs/commit/68e40ae6c954b08534dd433de859b4ac1d9a8e2d.

Thanks for reporting :+1:

[2017-01-17 11:38] #483 closed

[2017-01-30 15:12] #139 closed

[2017-02-01 20:18] krugar100 opened #501 "Nginx auth proxy not working"
Hi @bcremer ,

This is regarding the [2015-03-02-sso-with-nginx-auth_request.md](https://github.com/shopware/devdocs/blob/master/source/blog/_posts/2015-03-02-sso-with-nginx-auth_request.md).
In this part of nginx.conf
[code]
What should ```login.example.com``` return and where? How does it tell nginx that user is authenticated and subsequently redirect to ```staticpage.example.com```?

PS : Simil

[2017-02-02 05:58] bcremer commented on #501
`login.example.com` can be anything.  It's a website the user get's redirected to, if he is not yet authenticated. `login.example.com` is responsible for the actual user login and to write the cookie. If you want the user to be redirected back to `staticpage.example.com` after a successful login you could read the HTTP referer to the the exact location the user was redirected from.

[2017-02-14 15:08] vintagesucks opened #507 "Incorrect icon classes (styletile)"
https://developers.shopware.com/styletile/_components-icon-set.html

The following icons are missing `arrow` in their class description:

icon--right4
icon--left5
icon--down5
icon--up4
icon--right5
icon--left6
icon--down6
icon--up5
icon--right6

Example:
[code]

Should be:
[code]

[2017-02-28 15:22] andrii-trush opened #518 "Extend Backend Article module"
Cannot extend "Add item" module with new Tab.
Trying to make by [This example](https://developers.shopware.com/developers-guide/backend-extension/#example-#2:-custom-components), but it does not work.

[2017-03-07 22:47] zkov commented on #87
Yep, same problem. Win 10, fresh install.

[2017-03-14 17:32] sarathiscookie commented on #87
@zkov I faced the same issue few months before. I followed this url "https://forum.shopware.com/discussion/29090/the-plugin-quick-start-doesnt-work".  Plugin quick start is working for me. I am using windows 10 and xampp.

[2017-03-31 14:21] #325 closed

[2017-03-31 14:22] mitelg commented on #501
I will close this for now.

[2017-03-31 14:22] #501 closed

[2017-03-31 14:28] mitelg commented on #518
Hi @andrii-trush
do you have more information for us?

If the example is wrong, please let us know! but if you are troubling to reimplement it own your own, maybe you should ask here for help :blush: :+1:
Our [forum](https://forum.shopware.com/) or our [IRC channel](https://developers.shopware.com/contributing/irc/)

Best regards
Michael

[2017-03-31 14:28] #518 closed

[2017-04-19 08:34] Amaridian opened #555 "Token delivery is very slow"
We have deactivated the CSRF protection due to problems in the checkout process. Now we still see a file named https://www.ourdomain.de/csrftoken loaded on every request an with weiting times of half a second.

We are optimizing our pages on speed aspects an this one is a huge drawback. How can we get rid of that csrf call or how can we speed it up?

![image](https://cloud.githubusercontent.com/as

[2017-04-19 08:39] mitelg commented on #555
Hello @Amaridian
I think this is not the right place to ask such question :wink: This issue section should be used for issues, regarding our developer documentation.

Problems with Shopware itself, could be reported here: https://issues.shopware.com/
If you need support you can get it via the support function in your Shopware Account, or you use our forum: https://forum.shopware.com/

Best Regards

[2017-04-19 08:39] #555 closed

[2017-05-09 06:46] Syri16 opened #562 "Broken link"
Link to download example plugin on page https://developers.shopware.com/developers-guide/plugin-extension-by-plugin/#swagextendcustomproducts/installer.php not working.

[2017-08-03 18:55] zexperto opened #628 "addresses end point not retrieve customer_id or user_id (REST)"
hello,
this "api/addresses" in REST api does not retrieve customer_id or user_id, i cannot know which address for which customer

[2017-08-07 07:15] mitelg commented on #628
Hi @zexperto
you are right. at the moment the GET (List) call does not contain the information about the customer. If you get one address by its ID, it contains the customer.
If you want that behaviour changed, you could open a ticket here: https://issues.shopware.com/

[2017-08-07 07:15] #628 closed

[2017-08-07 09:02] #562 closed

[2017-11-07 14:28] screeny05 commented on #507
see https://github.com/shopware/shopware/pull/496/files

[2017-11-13 14:59] mitelg commented on #507
fixed with https://github.com/shopware/devdocs/commit/f7f8782bdd4ebb1bf13cbee1df75c0b4b00da596

[2017-11-13 14:59] #507 closed

[2017-11-20 19:42] shahidkarimi commented on #87
Shopware is just a piece of shit. No community support, limited community, documentation is very insufficient, things don't work as explained. Please abandon it there are lot of world-class e-commerce flatforms already.

[2017-11-22 07:52] sdkcarlos opened #736 "Demo File Not Found"
The swagproductbasics.zip file isn't available for download in this page: https://developers.shopware.com/developers-guide/backend-components/basics/

[2017-11-23 10:31] #736 closed

[2017-11-23 10:31] mitelg commented on #736
thanks for the hint @sdkcarlos

[2017-12-05 15:24] mgaerber opened #750 "Docs for REST endpoint 'addresses' states there should be a customer element in each address"
When I call addresses, there is no customer element

https://github.com/shopware/devdocs/blob/master/source/developers-guide/rest-api/api-resource-address/index.md

[2017-12-05 15:34] mitelg commented on #750
@shopwareBot can someone have a look here? maybe @jenskueper ?

[2017-12-06 16:25] MarkusWb opened #753 "Documentation for REST endpoint 'customers' lists deprecated fields 'shippings' and 'billings'"
According to the [Update Guide](https://developers.shopware.com/developers-guide/shopware-5-upgrade-guide-for-developers/#account-/-registration), shippings and billings have been replaced by defaultShippingAddress and defaultBillingAddress, which have the type address.
Shipping and billing still seem to work for POST requests.

[2017-12-07 07:59] mitelg commented on #753
hey @MarkusWb
the keys 'billing' and 'shipping' will be used to create new objects of the kind `address`
See here: https://github.com/shopware/shopware/blob/5.3/engine/Shopware/Components/Api/Resource/Customer.php#L204

I will fix the link in the customer docs

[2017-12-07 08:05] mitelg commented on #753
fixed with a292cccc38a58acff094f48472da77ecf8c96df7

[2017-12-07 08:05] #753 closed

[2017-12-07 08:34] mitelg commented on #750
hey @mgaerber
the `list` query does not give you the customer data. that is correct. but the call of one single address.
I will add a note about this to the docs

[2017-12-07 08:36] #750 closed

[2017-12-07 13:16] MarkusWb commented on #753
Still, a GET request returns the fields defaultShippingAddress and defaultBillingAddress instead of the shipping and billing used in the POST request--which led to my confusion in the first place and is highly inconsistent.

[2017-12-11 11:28] felixgeyer opened #757 "Plugin quick start guide missing implementation of SloganPrinter"
Hi,

I'm using the documentation wo get started with shopware.
Therefore I followed the [plugin quick start guide](https://developers.shopware.com/developers-guide/plugin-quick-start/) to develop my first plugin.

Unfortunately the implementation of the used class/component `SloganPrinter` is not explained, or am I missing something?

[2017-12-11 12:49] mitelg commented on #757
Hi @felixgeyer

you can download the example plugin here: https://developers.shopware.com/exampleplugins/SwagSloganOfTheDay.zip

the `SloganPrinter` just returns random sentences

[2017-12-11 12:49] #757 closed

[2017-12-11 13:10] felixgeyer commented on #757
Hi @mitelg,

thanks for providing the source code of the demo plugin.

Nevertheless I'd be happy if the documentation is updated, so the tutorial is complete.
Otherwise, the documentation is frustrating for developers who are new to shopware.

[2017-12-15 17:10] tkapet commented on #87
I have also experienced problems that plugin templates do not work under WINDOWS.
The same exactly code in my mac & linux system is working fine.

[2017-12-18 10:11] mitelg commented on #87
hello @tkapet
there are known issues with windows server systems. but we do not officially support Windows.

greetings

[2018-01-02 14:54] bodiski opened #768 "Wrong maths - This doesn't add up"
If a single page takes 250ms (milliseconds) to load surely 4 pages would take 1 second, not 1 minute, right?
250ms x 4 = 1000ms = 1s

So 400 page loads would take 100 seconds as opposed to 1h.

![image](https://user-images.githubusercontent.com/3490727/34487309-b72e2a32-efcb-11e7-93c7-4236a4f4e539.png)

[2018-01-03 06:51] JanPietrzyk commented on #768
whuuu, embarassing... Thanks for the info, should have thought twice while writing the table. I will prepare a pull request that fixes the issue.

[2018-01-18 12:41] oktupol opened #782 "A question about word-choice issues that reflect in the code base"
Resident grammar-nazi checking in :)

I was wondering how word-choice issues should be handled, if they reflect in the code base of Shopware. In case of "articles", the general consensus is, as far as I can observe, to avoid using the word "article", and instead use "product", both in the documentation and in new code. But "articles" are not the only example.

I am aware that changing names of exi

[2018-01-18 12:50] mitelg commented on #782
ping @shopwareBot

[2018-01-19 12:03] mostafa-hisham opened #786 "sudo apt-get install nodejs-legacy problem"
we shold change this command
sudo apt-get install nodejs-legacy npm
to:
sudo apt-get install nodejs npm

cuz nodejs-legacy install node v4.2 and to complete the grunt installation we need node v4.5 pr above

[2018-01-19 17:49] rohithmeethal opened #787 "Request for higher quality Entity Relationship diagram"
Please add higher quality entity relationship diagram, as the current pdf looses quality when zoomed to 100%, with difficulty to read the text.

https://developers.shopware.com/developers-guide/entity-relationship-model/

[2018-01-20 09:43] mitelg commented on #786
@klarstil what do you say about that?

[2018-01-20 10:46] Isengo1989 opened #788 "Sample Plugin SwagPluginSystem is missing a tag"
I was trying to figure out why the template extension does not work - the services.xml is missing:
`            <tag name="shopware.event_subscriber"/>
`
after
`            <argument type="service" id="template"/>
`
in **custom/plugins/SwagPluginSystem/Resources/services.xml**

it is [documented](https://developers.shopware.com/developers-guide/example-plugin/#register-template-first) - but missin

[2018-01-20 20:05] oktupol commented on #787
This must be an issue of your pdf reader. I can zoom in just fine

![ERD](https://imgur.com/a/Gpy1u)

[2018-01-21 06:52] rohithmeethal commented on #787
I guess thats the case, ubuntu default viewer and firefox shows blurry version while chrome does it all right , Thank you .

[2018-01-21 06:52] #787 closed

[2018-01-24 10:05] #788 closed

[2018-01-24 10:05] mitelg commented on #788
hey @Isengo1989 thanks for the hint. fixed with 56463b7

[2018-01-31 10:52] hlb-schmidt opened #803 "how to use the example jquery plugin"
am i blind or does https://github.com/shopware/devdocs/blob/master/source/designers-guide/javascript-statemanager-and-pluginbase/index.md not mention how to use the example plugin?

i see a hint "Automatically binding the plugin to the element using jQuery's data-method"...

or is this doc only for using the example plugin with the statemanager?
where is the documentation on how to use (this examp

[2018-01-31 11:45] pquerner opened #804 "Customer filter missing in docs"
Is it possible to filter customers, like only get inactive customers?
Its missing in the docs, but its working. (Shopware 5.3.4)

[code]

Its also missing the customer model.

[2018-01-31 12:40] mitelg commented on #804
hey @pquerner
filtering does work the same for all resources, see here https://developers.shopware.com/developers-guide/rest-api/#filter

[2018-01-31 12:40] #804 closed

[2018-01-31 12:50] pquerner commented on #804
Yes, but it says "look at the models to see what you can filter." And the customer models isnt there to look at.

[2018-01-31 12:53] mitelg commented on #804
hey @pquerner the regarding doctrine models could be found here https://github.com/shopware/shopware/tree/5.3/engine/Shopware/Models

[2018-01-31 12:56] pquerner commented on #804
Yes, thats how I found out.
[code]
When I go to the models page
https://developers.shopware.com/developers-guide/rest-api/models/
The Customer model is missing.
So there is no way of getting the properties of a customer model, from the Docs page. Just by looking at the sourcecode.

[2018-01-31 13:00] pquerner opened #805 ""firstLogin" of customer model is "created_at""
See title. I think that should be noted somewhere, ie. with some example of how to retrieve customers which have been created "after" a specific date.

Thats possible by filtering with the "firstLogin" field of a customer.

("firstLogin" is a bad name for a "created_at" field imho, but thats not the topic here)

Reason: that field name is not very clever in giving away, thats in fact a identifier

[2018-01-31 14:47] mitelg commented on #804
ah now I get it :blush:
you are totally right. I will fix that :+1:

[2018-02-02 18:04] chwzr opened #809 "No Javascript Documentation, no Future"
Why the heck using the API from old and slow PHP? It makes no sense, you can write a plugin in PHP which hooks directly...

We need more Javascript snippets, since nowadays Websites are performing better when they using principles like PWA which are mainly powered by client side Javascript.. If Shopware will not provide a documentation which shows some JS Snippets, its not ready for the future of

[2018-02-05 09:22] buddhaCode commented on #809
http://lmgtfy.com/?q=access+rest+api+with+vue.js

[2018-02-05 13:18] mitelg commented on #768
@JanPietrzyk push :wink:

[2018-02-05 13:34] klarstil commented on #786
@mostafa-hisham You're right about that, thanks for pointing it out

[2018-02-05 13:35] mostafa-hisham commented on #786
No problem

[2018-02-05 14:15] klarstil commented on #803
Hey @hlb-schmidt,

let me clear it up for you. The plugin base is an abstraction layer which provides you with the best practices of the jQuery plugin authoring based on a pattern from Alex Sexton & Scott Gonzalez including further changes from Addy Osmani: https://github.com/jquery-boilerplate/jquery-patterns/blob/master/patterns/jquery.prototypal-inheritance.plugin-boilerplate.js

The call of `$

[2018-02-05 14:53] #803 closed

[2018-02-06 07:50] hlb-schmidt commented on #803
so in the context of that example plugin, there is no automatic binding to a css selector nor a dom element. nor is there a requirement for a data attribute. and the plugin author (or user) has to manually define the css selector, either through `StateManager` (as shown in the documentation) or:

[code]

and then the user binds it to a dom element by adding the css selector to the desired dom elem

[2018-02-06 08:08] #786 closed

[2018-02-06 08:18] buddhaCode commented on #803
Exactly. Do did sum it up well!

[2018-02-12 23:40] chwzr commented on #809
i'm sure its fun since nearly all browsers have the storage API and there are other solutions like app-indexeddb-mirror and so on...

[take a look here](https://developer.mozilla.org/de/docs/Web/API/Web_Storage_API)

[or here...](https://www.webcomponents.org/element/PolymerElements/app-storage/elements/app-indexeddb-mirror)

in the meantime i've managed it to consume the shopware api within my ba

[2018-04-05 13:03] mitelg commented on #768
fixed with 5be1ef4

[2018-04-05 13:03] #768 closed

[2018-04-05 13:06] mitelg commented on #809
I think issues with the API of Shopware have nothing to do with the developer documentation of Shopware. Please open a ticket here https://issues.shopware.com/ :blush: :+1:

I will close this for now. If you have an issue with the docs, feel free to open an issue again

[2018-04-05 13:06] #809 closed

[2018-04-05 13:41] chwzr commented on #809
never had a issue with the api. Read the init issue comment, it's a issue with the docs which did not have much js snippets. But feel free to let new devs stumble in the dark...

[2018-04-05 14:29] mitelg commented on #809
ok, but I don't really understand your Problem. there is a whole category https://developers.shopware.com/designers-guide/ just for frontend and templating stuff.

There is documentation about how to add new Javascript, how to extend existing jQuery Plugins, etc ... What exactly do you miss?

[2018-04-12 11:14] hlb-schmidt opened #852 "wrong extjs version documentation linked"
shopware 5.4.2 uses extjs 4.1.0 (according to Ext.getVersion('extjs')) but documentation at https://developers.shopware.com/developers-guide/backend-components/basics/ links to http://docs.sencha.com/extjs/4.1.3/#!/api

and apparently extjs removes features even in patch versions!?

http://docs.sencha.com/extjs/4.1.0/#!/api/Ext.container.Container-method-onAdded
onAdded( container, pos )

http://d

[2018-04-12 11:53] mitelg commented on #852
hey @hlb-schmidt
thanks for the hint! the ExtJs version we use is 4.1.1 :smile:
but you are right. I will fix that soon.

And yes, ExtJs does not use SemVer and breaks things on every version...

[2018-04-12 11:57] #852 closed

[2018-04-12 11:57] hlb-schmidt commented on #852
hmm, and why does `Ext.getVersion('extjs')` give 4.1.0?

[2018-04-12 12:13] klarstil commented on #852
Hey @hlb-schmidt ,

we're always referring the core version. At the time of the build, the core was 4.1.1. and ExtJS at 4.1.0

![screen shot 2018-04-12 at 14 12 09](https://user-images.githubusercontent.com/170133/38676517-977c1b98-3e5b-11e8-8a5f-5b3b5c3c40ae.png)

[2018-06-15 12:06] voodoods opened #868 "sticky argument for `createGrowlMessage()` not available"
### Problem

The postMessage API documentation indicates that there is a third argument available for `createGrowlMessage()` that allows the growl message to be sticky: https://developers.shopware.com/developers-guide/lightweight-backend-modules-api/#postmessage-api-documentation

However the current function definition does not accept such an argument, see:
https://github.com/shopware/shopware/bl

[2018-06-18 11:01] klarstil commented on #868
That's a good catch, thanks :) I'll take care of it and will change the documentation accordingly

[2018-06-26 12:59] reConNico opened #873 "Add shopware / php matrix for supported version"
It'd be great to have a shopware/php matrix for supported php versions for each shopware version.

It could be an table with green ticks/red crosses which shows the support of php versions for each shopware version.

Ioncube supported versions should also be included in the table (deprecated above SW 5.5).

[2018-06-27 11:52] hlb-schmidt opened #874 "extjs links 404"
the three extjs doc links in https://developers.shopware.com/developers-guide/backend-components/basics/ are 404

[code]

i hope this is just temporary, cause 4.1.3 is still there, but we cant trust those cause they break the api even on minor version changes...

[2018-06-27 13:46] mitelg commented on #874
Hey @hlb-schmidt
thanks for the hint! It seems not to be temporary unfortunately :disappointed:
we found the docs under a cdn link. hopefully it will last there :smile:

[2018-06-27 13:50] #874 closed

[2018-06-28 07:31] mitelg commented on #874
seems to be that they are online again :see_no_evil: :smile:
https://docs.sencha.com/extjs/4.1.1/#!/api

I will revert my changes

[2018-08-13 07:20] Isengo1989 opened #891 "Coding standard *.xml File"
It is not a real Issue, but it would be nice if there was a *.xml File for Code Style to download on the https://developers.shopware.com/developers-guide/coding-standards/ Page.

As most PHP-devs are using PhpStorm this would be nice (Editor -> Code Style -> PHP)

[2018-09-11 12:58] grobmeier opened #901 "This page is probably not linked correctly"
This page:

https://developers.shopware.com/developers-guide/rest-api/api-resource-property-group/

I probably not linked correctly. I could only find it through a link from the examples, but not in the main navigation. To my understanding, it should be listed in the resources navigation.

[2018-09-21 08:50] lkreimann opened #906 "Wrong link on "Payment Plugin" page"
Found a broken link on this page: https://developers.shopware.com/developers-guide/payment-plugin/ (our plugin guides)

The broken link is https://developers.shopware.com/developers-guide/payment-plugin/plugin-guide/ (relative link in the Markdown file)

Not to sure where the user should land, when clicking the link. Would totally fix that for you, if someone would just point me to the right direc

[2018-09-21 09:25] mastox opened #907 "Uncaught TypeError: items.each is not a function"
Hi,
this example with windows.js script does not working for me, i replaced .each with  .forEach and everything works fine now.

[https://developers.shopware.com/developers-guide/backend-extension/](url)

[2018-09-21 11:30] mitelg commented on #906
hey @lkreimann
I think the link should refer to this page: https://developers.shopware.com/plugin-guide/

I will fix this in a minute. thanks for your report!

[2018-09-21 11:38] #906 closed

[2018-09-21 11:58] mitelg commented on #907
hey @mastox
thanks for your report. I will fix this in a minute with help of `Ext.each()`

[2018-09-21 12:02] #907 closed

[2018-10-01 18:58] lkreimann commented on #901
Would be nice if you'd make a Pull Request :) @grobmeier

[2018-12-06 09:52] hlb-schmidt opened #957 "[shopware-5-cli-commands] command cannot have an empty name"
the example at https://developers.shopware.com/developers-guide/shopware-5-cli-commands/ gives me an error:
[code]

to fix it i had to add `setName()` to the `configure` function. but shouldnt shopware do that for us, using the `command` from `<tag name="console.command" command="swagcommandexample:import"/>`? or for what else is there "swagcommandexample:import" in the xml file? (fwiw, i removed

[2018-12-10 15:30] timste opened #962 "Example Zip File not working"
The linked ZIP-file at the end of the article *https://developers.shopware.com/developers-guide/controller/ * is buggy in the latest SW version.

[2019-01-11 11:40] mediagraphik opened #970 "Details not visible at the Order Positions"
Hello,
i have an issue with the newest SW Version and the CustomProduct plugin.
Everything works fine except the detail view of the order position.
The add field doesnt show in the details, but the request gets it.

`data: [{label: "Set Dämpfungsockel", type: "checkbox", multi: true,…},…]
0: {label: "Set Dämpfungsockel", type: "checkbox",,…}
1: {label: "Länge Kältemittelleitungen 6/10 gebördelt",

[2019-01-11 12:44] mitelg commented on #970
Hey @mediagraphik
this is the repository for our developer documentation. If you have an issue with Shopware or with one of our plugins, please use the issue tracker to report a problem: https://issues.shopware.com/

[2019-01-11 12:44] #970 closed

[2019-02-13 10:25] AlexBachmann opened #986 "Address Management Guide not valid for Shopware >= v5.5"
In the Address Management Guide (https://developers.shopware.com/developers-guide/address-management-guide/#extending-the-address-form) the following script is given for the FormBuilder Subscriber:
[code]
This will not work in Shopware v5.5 and higher, since the reference given to the $event is no longer the FormType class but the value of the FormTypes block value.

The correct way to check if th

[2019-02-26 12:48] tinect opened #992 "[styletile] Update"
The styletile has different content for same topic.

Generally it'll be great, if we could know, how the styletile is gerenerated. Tried to catch some bugs, ended with headache :-) Additionally for PRs it'll be more great to have styletile in seperated repo instead of branch.

Icon-Set: https://developers.shopware.com/styletile/components.html#icon-set
Icons: https://developers.shopware.com/stylet

[2019-04-29 14:25] iannacone commented on #962
+1

[2019-04-29 14:30] iannacone commented on #962
i would add that the Teplate part [https://developers.shopware.com/developers-guide/controller/#template](here) is not working (tested v. 5.5.7)

[2019-07-06 09:49] grelf111 opened #1020 "misleading translation"
Shopware 5 snippet management
- Understanding snippet handling
-> bullet point list

now: If the snippet is not present in the database, has a default value set and ....
better: If the snippet is not present in the database, **has set a default value** and ....

now: If the snippet is not present in the .ini file, has a default value set and ....
better: If the snippet is not present in the .ini f

[2019-07-09 09:33] mitelg commented on #1020
hey @grelf111
thanks for pointing this out :+1: would you mind creating a PR fort that? :blush:
https://github.com/shopware/devdocs/blob/master/source/designers-guide/snippets/index.md#understanding-snippet-handling

[2019-10-01 16:12] bneumann97 commented on #1020
@mitelg I've mad a PR for that. https://github.com/shopware/devdocs/pull/1043

[2019-10-02 05:56] mitelg commented on #1020
fixed with https://github.com/shopware/devdocs/commit/104023a69b787d6d9bd0f32cb044c68aa66bab28

[2019-10-02 05:56] #1020 closed

[2020-03-01 14:07] jonashrem opened #1064 "Clarify minimal transaction isolation level"
## Description
MySQL supports multiple Isolation Levels for InnoDB which are set to "REPEATABLE READ" by default. I would like to know which of those levels are supported by shopware, as Isolation Level with lesser consistent, can always perform better in some situations.

## Possible solutions

I would like to know which of the Isolation Levels ( https://dev.mysql.com/doc/refman/5.7/en/innodb-tra

[2020-03-06 13:50] milindsingh opened #1066 "How to setup ESD in Shopware 6 ?"
I am able to find in Shopware 5, How to do it in 6?
https://docs.shopware.com/en/shopware-5-en/products-and-categories/esd#settings-and-configuration

[2020-04-15 13:15] brtsos opened #1069 "Wrong url to cypress plugin"
Page:
https://docs.shopware.com/en/shopware-platform-dev-en/how-to/end-to-end-tests-in-plugins#overview

Now we have:
shopware/e2e-testsuite-platform

Should be:
shopware-ag/e2e-testsuite-platform

[2020-04-15 13:24] brtsos opened #1070 "Wrong url to Mocha"
Page:
https://docs.shopware.com/en/shopware-platform-dev-en/how-to/end-to-end-tests-in-plugins#test-structure

Now we heave:
https://docs.cypress.io/guides/guides/environment-variables.html

Should be:
https://mochajs.org/

[2020-05-04 14:07] shyim commented on #1066
Its currently not implemented in Shopware 6.
For more information see the issue https://issues.shopware.com/issues/NEXT-3519

[2020-05-04 14:07] #1066 closed

[2020-05-05 08:58] mitelg commented on #1069
hey @brtsos
this is the Shopware 5 documentation repo. you might want to open the issue in shopware/platform

[2020-05-05 08:59] mitelg commented on #1070
hey @brtsos
this is the Shopware 5 documentation repo. you might want to open the issue in shopware/platform

[2020-05-05 18:45] leichteckig commented on #1069
Hello you two,

that's right - our documentation for shopware 6 is maintained in shopware/platform. However, I'll correct this link either way, for now. So thank you for your feedback @brtsos :+1: I'll keep you updated here.

In case you find more issues, I'd be glad to find them in shopware/platform.
Kind regards,

Ramona

[2020-05-05 18:45] leichteckig commented on #1070
Hello you two,

that's right - our documentation for shopware 6 is maintained in shopware/platform. However, I'll correct this link either way, for now. So thank you for your feedback @brtsos :+1: I'll keep you updated here.

In case you find more issues, I'd be glad to find them in shopware/platform.
Kind regards,

Ramona

[2020-05-26 14:04] Squall83 opened #1074 "Debug-page seems out of date"
https://github.com/shopware/devdocs/blob/master/source/developers-guide/debugging/index.md
The ExtJS part of this page seems to be outdated, because there is no "ext-all-debug.js" file anymore. There is a "ext-all-dev.js" file, but if i include that one, nothing changes.

At https://docs.shopware.com/en/shopware-5-en/plugins/core-plugins i found the following information:

There i found the follow

[2020-05-26 15:04] mitelg commented on #1074
hey @Squall83
you are right, we changed this with Shopware 5.6
Have a look here: https://github.com/shopware/shopware/blob/5.6/UPGRADE-5.6.md#extjs-developer-mode

This is the according commit: https://github.com/shopware/shopware/commit/6447c06bbd520eeec3098cbf97c806b5049a3df0

@shyim hopp, hopp! rewrite the docs! :smile:

[2020-08-12 12:56] ChristopherDosin commented on #1066
We have build an ESD plugin for those who are interested in:
https://store.shopware.com/en/sas9155591716916/esd/downloads-for-shopware-6.html

[2020-10-07 08:57] kokoyroy opened #1092 "wrong callback name in the description under the code example"
As defined in getSubscribedEvents the callback is called **onFrontendPostDispatch**. It takes an Enlight_Controller_ActionEventArgs object as parameter, which holds context about the event - in this case the context of the controller that has been executed.

**onFrontendPostDispatch** has to be **onPostDispatch** as in code above

[2020-10-07 09:43] mitelg commented on #1092
hey @kokoyroy
on which page do you mean?

[2020-10-07 10:28] kokoyroy commented on #1092
https://developers.shopware.com/developers-guide/plugin-quick-start/#subscriber-classes

[2020-10-07 11:41] mitelg commented on #1092
then this would be the file to edit: https://github.com/shopware/devdocs/blob/master/source/developers-guide/plugin-quick-start/index.md#subscriber-classes

maybe you like to create a PR? :blush:

[2020-10-07 11:46] kokoyroy commented on #1092
what is the pr? i am noob :P

[2020-10-07 11:59] mitelg commented on #1092
you are able to make change suggestions to the documentation code itself :blush:

https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request

[2021-01-23 13:09] BenRoe opened #1094 "Example Plugin (SwagPluginSystem) causes White Screen for Shopware 5.7"
I download the zip file from the https://github.com/shopware/devdocs/blob/master/source/developers-guide/example-plugin/index.md and put the `SwagPluginSystem` folder in `custom/plugins`.
After activating the plugin in the Plugin-Manager, i get a white screen on the shop page.

[2021-01-25 09:02] mitelg commented on #1094
hey @BenRoe

thanks for bringing this up, but I cannot reproduce this. Do you have some error message? Please have a look here https://docs.shopware.com/en/shopware-5-en/tutorials-and-faq/debugging-error-messages-in-shopware#tweaks-for-the-config-php

[2021-01-27 16:15] BenRoe commented on #1094
I use [Lando with the LAMP receipt](https://docs.lando.dev/config/lamp.html) and Shopware 5.7 on OSX 10.15.7

[code]

[2021-01-28 07:37] mitelg commented on #1094
hey @BenRoe
this is a known issue and will be fixed to the final 5.7 release, where the subscriber will be set to public by default

[2021-01-28 07:37] #1094 closed

[2021-04-14 10:56] Ahmed-Sajjad opened #1095 "Create Shipment in Shopware5"
I was going through the REST API docs on [this link](https://developers.shopware.com/developers-guide/rest/) but was unable to find anything regarding shipments. Could anyone let me know the endpoint for order shipment.

Also, can we partially ship an order?

[2021-04-28 12:32] Nico-Schaefer-2111 opened #1097 "DI tags are not complete"
devdocs/source/developers-guide/dic-tags/index.md is not complete, e.g. <tag name="shopware.rule.definition"/>

[2021-04-28 12:40] #1097 closed

[2021-06-01 08:53] #1070 closed

[2021-06-01 08:53] #1069 closed

[2021-11-18 11:32] #330 closed

[2021-11-18 12:02] mitelg commented on #868
hey @voodoods
the documentation you are referring to, is the documentation about the postmessage API
https://github.com/shopware/shopware/blob/5.7/themes/Backend/ExtJs/backend/base/frame/postmessage-api.js#L506

which has only the mentioned method. afterwards this method is called: https://github.com/shopware/shopware/blob/5.7/themes/Backend/ExtJs/backend/base/component/Shopware.ModuleManager.js#L

[2021-11-18 12:02] #868 closed

[2021-11-18 12:02] #805 closed

[2021-11-18 13:48] #891 closed

[2021-11-19 11:45] mitelg commented on #1095
hey @Ahmed-Sajjad

unfortunately we do not have an API endpoint for that

[2021-11-19 11:45] #1095 closed

[2021-11-22 09:53] #901 closed

[2021-11-22 12:16] #1092 closed

[2021-11-23 12:48] mitelg opened #1114 "Fix SwagSloganOfTheDay for SW 5.7"

[2021-11-23 16:17] mitelg commented on #962
cannot reproduce

[2021-11-23 16:17] #962 closed

[2021-11-24 13:52] mitelg commented on #1114
works as expected

[2021-11-24 13:52] #1114 closed

[2021-11-25 13:51] mitelg commented on #992
@tinect is there still a problem?

I am currently struggling in finding out, how the styletile is generated :grimacing:

[2021-11-25 14:03] mitelg commented on #873
there is a nice stackoverflow question, which answer this :slightly_smiling_face: :+1:

https://stackoverflow.com/questions/62953186/shopware-5-which-shopware-version-uses-which-min-php-version

[2021-11-25 14:03] #873 closed

[2021-11-25 14:59] tinect commented on #992
Yes, the problem persists. You can see the icons at the end in docs not showing up.

I really don't know the stuff, too :-( but after 2,5 years no one complaining about or fixing it, we can close it? 🤔

[2021-11-25 16:18] mitelg commented on #986
Fixed with #1116

[2021-11-25 16:18] #986 closed

[2021-11-25 16:22] mitelg commented on #992
I will try to get in touch with @klarstil

maybe we can sort it out. if this does not help, I will close the issue :see_no_evil:

[2021-11-26 07:34] mitelg commented on #992
hey @tinect

I found out, that the current state of the styletile was created by hand :hammer_and_wrench: :slightly_smiling_face:

so we also need to fix things manually. means, if there is something missing or something wrong, we would highly appreciate any pull request on the [styletile branch](https://github.com/shopware/devdocs/commits/styletile) :muscle:

for now I will close this issue and w

[2021-11-26 07:34] #992 closed

[2021-11-26 07:34] bcremer commented on #1064
@mitelg
To be honest, that sounds like a very legit question and is not individual at all and should documented in the requirements document.

@jonashrem
I'd not run any other isolation level than the default REPEATABLE READ as this is the default level that is used for all automated and manual tests as far as I can tell from the source.

[2021-11-26 07:43] mitelg commented on #1064
@bcremer to be honest I have never heard a question like this before.

but maybe as I am not that good into databases, I considered this as a very individual question :see_no_evil:
sorry for that and thank you very much for answering :slightly_smiling_face: :+1:

[2021-11-26 08:02] mitelg commented on #1064
@jonashrem okay, after reading a bit through the posted articles, I would also suggest the default `REPEATABLE READ`

and as @bcremer already stated, other isolation levels are not used and tested by us, so using them goes to own risk.

I will have a look if I could put it somewhere sensible :+1:

thank you all :wave:

[2021-11-26 08:29] #1064 closed

[2021-11-26 08:30] bcremer commented on #1064
@mitelg No worries, thanks for re-considering.

[2021-11-26 08:34] mitelg commented on #1064
thank you, for having Shopware still in mind :hugs: :blue_heart:

[2021-11-26 08:35] #1074 closed

[2021-11-26 08:45] bcremer commented on #1064
![Harry-Potter Always](https://c.tenor.com/n3YgVsxkhNEAAAAC/hp-harry-potter.gif)